@import url(./vendors/normalize.css);
@import url(./vendors/fonts.css);

html {
  scroll-behavior: smooth;
}

.body {
  max-width: 1440px;
  /* min-width: 320px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}
.header {
  font-family: "Inika", Arial, serif;
  padding: 42px 109px 42px 111px;
  background-color: #edf2ec;
  /* border: 1px green solid; */
}
.header__navbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px black solid; */
}
.header__image {
  width: 79.17px;
  height: 21.04px;
  margin-top: 10px;
  /* border: 1px red solid; */
}

.header__nav-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px blue dashed; */
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav-item {
  margin-right: 46px;
  display: flex;
}
.header__nav-item:last-of-type {
  margin-right: 0;
}
.header__nav-link {
  text-decoration: none;
  color: #010201;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.header__nav-link:hover {
  opacity: 0.5;
  transform: scale(1.2);
}
.header__nav-link:active {
  color: #e06733;
}
.header__nav-item_link-color {
  color: #e06733;
}
.humburger_icon {
  display: none;
}
.popup__content {
  display: none;
  right: -100%;
}
.welcome {
  padding: 62px 109px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #edf2ec;
  /* border: 1px red solid; */
}

.welcome__image {
  max-width: 448px;
  height: 407px;
  margin-right: 224px;
  /* border: 1px green dashed; */
}
.welcome__content {
  margin: 36px 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Inter, Arial, sans-serif;
  /* border: 1px black solid; */
}
.welcome__content-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin: 0;
}
.green {
  color: #499a18;
}
.welcome__content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  margin: 0;
  color: #636060;
}
.welcome__button {
  width: 158px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  border: 2px #e06733 solid;
  border-radius: 10px;
  background-color: #edf2ec;
  /* margin-top: 40px; */
}
.welcome__button:hover {
  background-color: #e06733;
  color: #ffffff;
}
.about {
  padding: 93px 109px 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  /* border: 1px blue solid; */
}
.about__content {
  /* max-width: 605px; */
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 68px 153px 61px 0;
  /* border: 1px green solid; */
}
.about__image {
  max-width: 464px;
  height: 479px;
  /* border: 1px green dashed; */
}
.about__title {
  font-family: Inika, Arial, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: inline-block;
  margin: 0;
  color: #499a18;
  /* border: 1px red solid; */
}
.about__title_highlighted {
  color: #e06733;
}
.about__text {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  margin: 0;
  /* border: 1px red solid; */
}
.service {
  padding: 40px 109px 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #edf2ec;
  /* border: 1px red solid; */
}
.service__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  margin-right: 215px;
  margin-bottom: 90px;
  flex-wrap: wrap;
  /* border: 1px blue solid; */
}
.service__content-title {
  font-family: "Inika", Arial, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: inline-block;
  height: 94px;
  margin: 0;
  color: #499a18;
}
.service__content-buttons {
  box-sizing: border-box;
  display: flex;
  margin-top: 29px;
}
.service-button {
  width: 161px;
  height: 50px;
  border: 1px #e06733 solid;
  border-radius: 5px;
  font-family: "Inika", Arial, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-right: 38px;
  padding: 0;
  text-align: center;
  color: #e06733;
  background-color: #edf2ec;
}

.service-button:last-of-type {
  margin-right: 0;
}
.service-button:hover,
.active {
  background-color: #e06733;
  color: #ffffff;
}

.service__cards-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  /* border: 1px green solid; */
}

.service-card {
  margin-bottom: 55px;
  /* border: 1px #e3e1d5 solid;
  border-radius: 20px 20px 0px 0px; */
}
.card-image {
  width: 329px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
.blur {
  opacity: 0.4;
  transition: 0.4s;
}

.card-title {
  font-family: Inter, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  margin: 10px auto;
}
.service-card p {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin: 0 0 36px;
  text-align: center;
}
.service-card-text {
  display: flex;
  flex-direction: column;
  border: 1px #e3e1d5 solid;
  border-radius: 0px 0px 20px 20px;
  border-top: none;
}

.prices {
  padding: 37px 109px 115px;
  /* height: 560px; */
  display: flex;
  justify-content: space-between;
  /* border: 1px green solid; */
}
.prices__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.prices__info img {
  width: 152px;
  height: 175px;
  scale: 1.09;
}
.prices__contact-button {
  width: 162px;
  height: 50px;
  font-family: Inika, Arial, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #e06733;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border: 1px #e06733 solid;
  border-radius: 5px;
  background: none;
  padding: 12px 34px 12px 30px;
}
.prices__contact-button:hover {
  background-color: #e06733;
  color: #ffffff;
}
.price__title {
  font-family: Inter, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  text-align: right;
  margin: 0;
  padding: 0;
}
.prices__title {
  font-family: Inter, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  text-align: right;
  margin-bottom: 60px;
  padding: 0;
  text-align: left;
}
.price__title span {
  color: #499a18;
}
.prices__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 14px;
  /* height: 391px; */
  height: auto;
}
.prices__buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px #e3e1d5 solid;
  border-radius: 20px;
  width: 332px;
  /* height: 282px; */
  height: auto;
  padding: 32px 40px 0;
}
.prices__button {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #edf2ec;
  border-radius: 20px;
  /* border: 1px red solid; */
  padding: 0 40px;
  margin-bottom: 32px;
}
.prices__button:last-of-type {
  margin-bottom: 0;
}

.prices__button-title {
  font-family: Inter, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.price__button-arrow {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.prices__button-content {
  display: none;
  background: #d6e7d2;
  border-radius: 20px;
  width: 250px;
  height: 154px;
  padding: 16px 40px 0;
  box-sizing: border-box;
}
.prices__button-content.opened {
  display: block;
}
.prices__button-text {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}
.line {
  width: 164px;
  line-height: 0px;
  left: 114px;
  top: 111px;
  border: 0.5px solid #aea1a1;
  display: block;
}
.price {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}
.price span {
  font-weight: 700;
  color: #e06733;
}
.order-button {
  width: 86px;
  height: 25px;
  background: #ffffff;
  border: none;
  border-radius: 10px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  margin: 12px 0;
  cursor: pointer;
}
.contacts {
  padding: 0 109px;
  background-color: #edf2ec;
  /* border: 1px blue solid; */
}
.contacts__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.woman-picture {
  width: 400px;
  height: 497px;
  margin-top: 53px;
  margin-right: 113px;
  /* border: 1px green solid; */
}

.contacts__content-title {
  box-sizing: border-box;
  font-family: Inika, Arial, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  /* border: 1px red solid; */
  margin-top: 60px;
  margin-left: 50px;
  /* margin: 60px 0 0 113px; */
}
.contacts__content-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 50px;
  margin-top: 148px;
  background-color: #d6e7d2;
  border: none;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  padding-right: 35px;
  /* border: 1px red solid; */
}
.contacts__button-title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}
.select {
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: left; */
  width: 450px;
  height: 234px;
  background: #dce9d9;
  padding: 26px 0 31px 20px;
  box-sizing: border-box;
  /* margin-top: 200px;
  margin-left: 753px; */
  /* border: 1px #e06733 solid; */
}
.city-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.city {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #499a18;
  margin: 0;
}
.contacts-line {
  width: 380px;
  height: 0px;
  border: 1px solid #d9d9d9;
  display: inline-block;
  margin-bottom: 12px;
}

.hidden {
  display: none;
}
.select-arrow {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.footer {
  padding: 40px 109px;
  /* border: 1px green solid; */
}
.footer__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  /* border: 1px red solid; */
}
.footer__github {
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.footer__content_icon {
  margin-right: 20px;
}
.footer_RSS-link {
  position: relative;
  left: 9px;
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease-out;
  /* border: 1px red solid; */
}
.footer_RSS-link:hover,
.footer__github:hover {
  opacity: 0.5;
  transform: scale(1.2);
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  /* border: 1px red solid; */
}
.footer__social-icon {
  /* display: flex; */
  /* margin-right: 20px; */
  cursor: pointer;
  transition: 0.3s;
}
.footer__social-icon:last-of-type {
  /* margin: 0; */
}
.footer__social-icon:hover {
  opacity: 0.5;
  scale: 120%;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  /* border: 1px blue solid; */
}
@media screen and (max-width: 1435px) {
  .woman-picture {
    width: 30%;
    height: 80%;
    margin-right: 5%;
  }
  .contacts__content-button {
    width: 30%;
  }
  .contacts__content-title {
    margin-right: 5%;
  }
}
@media screen and (max-width: 1280px) {
  .welcome__image {
    width: 40%;
    height: 40%;
    margin-right: 15%;
  }
  .about__image {
    max-width: 40%;
    height: 40%;
  }
}
@media screen and (max-width: 1124px) {
  .header {
    padding: 35px 50px;
  }
  .header__navbar {
    height: 47px;
  }
  .header__image {
    width: 77px;
    height: 21px;
  }
  .welcome {
    padding: 40px 50px 70px;
    flex-direction: row-reverse;
  }
  .welcome__image {
    width: 280px;
    height: 254px;
    margin: 0 0 55.85px 47px;
  }
  .welcome__content {
    margin: 0;
  }
  .welcome__content-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    margin: 0;
  }
  .welcome__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
  }
  .about {
    padding: 40px 50px 95px;
    flex-direction: column;
  }
  .about__content {
    margin: 0;
  }
  .about__title {
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    margin: 0 auto;
  }
  .about__text {
    margin: 40px 0 28px;
  }
  .about__image {
    max-width: 250px;
    height: 258px;
    margin: 40px auto 0;
  }
  .service {
    padding: 60px 50px 32px;
  }
  .service__content {
    flex-direction: column;
    margin-right: 109px;
    margin-bottom: 40px;
  }
  .service__content-title {
    font-size: 35px;
    line-height: 46px;
    /* margin-right: 253px; */
    text-align: left;
  }
  .service__content-buttons {
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .service-button {
    margin-bottom: 9px;
  }
  .service-card {
    margin: 0 0 38px;
  }
  .card-image {
    width: 280px;
    height: 350px;
  }
  .service-card-text {
    width: 280px;
    margin: 0;
  }
  .service-card p {
    margin: 0 40px 20px;
    text-align: center;
  }
  .prices {
    padding: 40px 50px 88px;
  }
  .prices__info {
    margin-top: 100px;
  }
  .prices__contact-button {
    margin-bottom: 34px;
  }
  .price__title {
    font-size: 25px;
    line-height: 35px;
    margin: 0 0 21.6px;
    padding: 0;
  }
  .prices__title {
    margin-bottom: 50px;
    font-size: 35px;
    line-height: 42px;
  }
  .prices__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    height: 391px;
  }
  .contacts {
    padding: 40px 0 0;
  }
  .contacts__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .woman-picture {
    width: 200px;
    height: 248px;
    margin: 250px 274px 0 294px;
  }
  .contacts__content-title {
    margin: 0 0 100px;
    order: 1;
  }
  .contacts__content-button {
    margin: 0;
    width: 450px;
  }
  .footer {
    padding: 32.5px 0 18px;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 130px;
  }
  .footer__data {
    line-height: 24px;
    margin-bottom: 16px;
  }

  .footer_RSS-link {
    position: initial;
    line-height: 24px;
  }
  .footer__social-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 188px;
    padding: 10px 0;
  }
  .footer__social-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 671px) {
  .header {
    padding: 36px 25px;
  }
  .header__navbar {
    height: 24px;
  }
  .header__image {
    width: 77px;
    height: 21.04px;
    margin: 0;
  }
  .header__nav-item {
    display: none;
  }
  .humburger_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .humburger_image {
    width: 40px;
    height: 24px;
  }

  body.noscroll {
    overflow: hidden;
  }

  .popup__content {
    background-color: rgba(20, 20, 20, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all 0.5s linear;
  }
  .popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #edf2ec;
    z-index: 1;
    transition: all 0.5s linear;
  }
  .popup__content.opened {
    display: block;
    right: 0;
    transition: all 0.5s linear;
  }
  .popup_menu {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }
  .close_item {
    display: block;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #010201;
    text-decoration: none;
    float: left;
  }
  .welcome {
    padding: 24px 25px;
  }
  .welcome__image {
    display: none;
  }
  .welcome__content {
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Inter, Arial, sans-serif;
  }
  .welcome__content-title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .welcome__content-text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .welcome__button {
    width: 100px;
    height: 34px;
    font-size: 10px;
  }
  .about {
    padding: 30px 25px;
  }
  .about__content {
    margin: 0;
    /* border: 1px green solid; */
  }
  .about__title {
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    margin: 0 auto 21.55px;
    /* border: 1px red solid; */
  }
  .about__text {
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    /* border: 1px red solid; */
  }
  .about__image {
    max-width: 150px;
    height: 147px;
    margin: auto;
  }
  .service {
    padding: 0;
  }
  .service__content {
    margin: 0;
    /* border: 1px blue solid; */
  }
  .service__content-title {
    font-size: 25px;
    line-height: 33px;
    margin: 30px 168px 35px 25px;
    height: auto;
  }
  .service__content-buttons {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 103px 38px 25px;
  }
  .service-button {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 9px;
    /* text-align: center; */
  }
  .service__cards-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0;
    /* border: 1px green solid; */
  }
  .service-card {
    margin: 0 0 34px;
    height: 450px;
  }
  .service-card:last-of-type {
    margin: 0 0 27px;
  }
  .prices {
    padding: 25px 0 40px;
    flex-direction: column;
    align-items: center;
  }
  .prices__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: auto;
  }
  .prices__title {
    font-size: 25px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }
  .price__title {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .prices__buttons {
    width: 224px;
    height: 235px;
    padding: 29px 22px;
  }
  .prices__button {
    padding: 0 45px 0 30px;
    margin: 0;
  }
  .prices__button-title {
    font-size: 15px;
  }
  .prices__info {
    margin-top: 19px;
    align-items: center;
  }
  .prices__contact-button {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
    padding: 8px 22px;
    margin-bottom: 0;
    margin-top: 14px;
  }
  .prices__info img {
    display: none;
  }
  .contacts {
    padding: 25px 0 0;
  }
  .woman-picture {
    width: 100px;
    height: 124px;
    margin: 132px 0 0 0;
    /* border: 1px green solid; */
  }
  .contacts__content-title {
    font-size: 25px;
    line-height: 33px;
    margin: 0 0 80px;
  }
  .contacts__content-button {
    width: 300px;
    height: 50px;
    margin: 0;
  }
  .footer {
    padding: 22px 0 7px;
    /* border: 1px green solid; */
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: auto;
    /* border: 1px blue solid; */
  }
  .footer_RSS-link {
    position: initial;
    line-height: 24px;
  }
  .footer__social-list {
    width: 188px;
    padding: 0;
    height: 50px;
    margin: 3px 0 0;
    align-items: center;
  }
}
